.App {
    text-align: center;
   }
   
   .userCard {
     width: 500px;
  
     margin: auto;  
      
   }
   
   
   .userCard img {
     width: 100%;
   }
   
   .cardText {
     text-align: left;
     font-size: 26px;
     background-color: #f4f5f5; 
     padding: 5px 20px 20px 20px;
     width: 400px;
     margin-top: 50px;
     margin: auto;
  
     
     /* position: absolute; */
   }
   
   .cardText:hover {
   
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }
   
   .hoverLink {
     display: none;
   }
   
   h5 {
     color: grey;
   }
   
   .cardText a {
     text-decoration: none;
     display: flex;
     
   }
   
   .cardText a:hover > .hoverLink {
     display: block;
   }